.container{
    padding:10px;
    display:grid;
    height:400px;
    width:400px;
    grid-template-rows:0.5fr 1.5fr 0.15fr;
    grid-template-areas: 
    "head"
    "main"
    "footer";
    background-color:rgba(121, 118, 118, 0.235);
    border-radius: 8px;
    box-shadow:2px 2px 2px 2px rgb(123, 122, 124);
}
.head{
    grid-area: head;
    background-color: rgb(232, 241, 238);
    display:flex;
    margin-left: 12px;
    align-items: center;
    border-color: rgb(89, 89, 89);
}
.main{
    grid-area:main;
    background-color: rgb(235, 243, 240);
}
.footer{
    grid-area: footer;
    background-color: rgb(250, 252, 251);
}
#pic1{
   
    width:50px;
    height:40px;
    border-radius:50%;
    position : relative;
    filter:drop-shadow(5px 7px 5px grey)
}
#active{
    width:8px;
    height:8px;
    background-color: chartreuse;
    border-radius: 50%;
    position: absolute;
    top: 57px;
    left:80px
}
.profile{
    display:flex;
}
.message{
    margin-left: 20px;
    
}
#name{
    font-family:'Times New Roman', Times, serif;
    position:relative;
}
#date{
    font-size: small;
    color: dimgrey;
    position:absolute;
    top:55px;
}
#pic2{
    margin-left:10px;
    width:380px;
    border-radius: 8px;
}
#setting{
    position:absolute;
    top:35px;
    right:290px;
    font-size: small;
}
.like{
    display:flex;
    align-items: center;
    gap:7px;
}
.cmt{
    display:flex;
    align-items: center;
    gap:7px;
}
.share{
    display:flex;
    align-items: center;
    gap:7px;
}
.send{
    display:flex;
    align-items: center;
    gap:7px;
}
.pic-footer{
    display:flex;
    justify-content: space-around;
    font-size:13px ;
    position:relative;
}
.emoji{
 font-size:x-small;
 position:relative
}
.emoji1{
    font-size:x-small;
    position:relative;
    bottom:215;
    right:5px;
   }
.emoji2{
    font-size: x-small;
    position:relative;
    bottom:215;
    right:9px;
   }
.footer1{
    position:relative;
    position:absolute;
    bottom:360px;
    left:29px;
    display:flex;
}.cmt-sec{
    display:flex;
    width:340px;
    height:25px;
    background-color:rgb(220, 218, 218);
    border-radius:10px;
    color: grey;
    align-items: center;
    justify-content: space-between;
}
#cmt-as{
    display:flex;
    align-items: center;;
    font-size: small;
    margin-left:10px
}
.footer{
    display:flex;
    margin-left:10px;
    align-items: center;
    gap:20px;
}

 

   
